<style>
    
    nav {
        overflow: auto;
        font-size: large;
        margin-bottom: 1%;
    }

    nav > a {
        float: left;
        margin-right: 4%;
    }

</style>

<div>
    <nav>
        <a href="/">Strona główna</a>
        <a href="/songs">Losuj piosenkę!</a>
        <a href="/songs/add">Dodaj piosenkę</a>
        <a href="/songs/list">Wszystkie piosenki</a>
    </nav>
</div>