<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
<body>

    <%- include('./partials/nav') %>

    <div>
        <h1>Witaj na AniSono!</h1>

        <img src="<%= image %>" alt="Azteccy Bogowie Fitnessu">
    </div>

    <%- include('./partials/footer') %>

</body>
</html>